body{
    margin: 0;
    background-color: darkorange;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: navy;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: darkorange;
    border-radius: 50%;
    color: #FFF103;
    font-size: 36pt;
    font-weight: bold;
    font-family: sans-serif;
}

#mesa{
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
}

#acoes{
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: #012070;
    margin: 50px 20px 00px;
    transform: scale(1.5);
    border: none;
    color: #FFF103;
}

#acoes p{
    font-size: 40pt;
}